button.small {
    width: 25px;
    font-size: 10pt;
    padding: 0;
    height: 25px;
    float: left;
}

.readonlyPieceCard {
    position: relative;
    float: left;
}

.pieceCard {
    position: relative;
    float: right;
    cursor: pointer;
}

.readonlyPieceCanvas {
    border: 1px solid #000000;
}

.pieceCanvas {
    border: 1px solid #000000;
}

.pieceCanvas:hover {
    border: 1px solid #0062cc;
    box-shadow: 0 0 6px rgb(35 173 255);
}

.pieceCanvas:active {
    border: 1px solid #0062cc;
    box-shadow: 0 0 6px rgb(35 173 255);
}

.selectedPieceCanvas {
    border: 1px solid #0062cc;
    box-shadow: 0 0 6px rgb(35 173 255);
}
